<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Главная страница</title>
</head>
<body>
	<h1>Технологии внедрения программного обеспечения</h1>
	<h2>Посты</h2>
	<hr>
	{% for post in object_list %}
		<a href="{% url "blog:post_detail" slug=post.slug %}"><h3>{{ post.title }}</h3></a>
		<h4>{{ post.sub_title }}</h4>
		<div>{{ post.description }}</div>
		<hr>
	{% endfor %}
</body>
</html>