<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>{{ object.title }}</title>
</head>
<body>
<h1>{{ object.title }}</h1>
<h3>{{ object.sub_title }}</h3>
<h3>{{ object.description }}</h3>
<hr>
<p>{{ object.text }}</p>
<hr>
{{ object.conclusion }}

<p>Спасибо за прочтение! <a href="{% url "blog:post_list" %}">Список всех постов.</a></p>
</body>
</html>